<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuzx.fun.study_elasticsearch.dao.NBAPlayerDao" >

    <select id="ListNBAPlayers"  resultType="com.wuzx.fun.study_elasticsearch.model.NBAPlayer" >
        SELECT * FROM nba_player
    </select>



</mapper>